.heroContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .heroVideo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(-50%);
  }
  
  .heroContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 10px;
    font:bolder;
  }
  
  .heroContent h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .heroButton {
    font-size: 1em;
    padding: 10px 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .heroButton:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  
  /* Responsive Styles */
  
  
  /* Small screens adjustments */
  @media (max-width: 767px) {
    .heroVideo {
      width: auto;
      height: 100%;
      transform: translateX(-50%);
    }
  
  }
  